<%= nested_form_for @question.becomes(Question), :html => { :class => 'form-horizontal' } do |f| %>
  <%= render :partial => "shared/errors", :locals => { :obj => @question } %>  
  <div class="control-group">
    <%= f.label :question, :class => 'control-label' %><span class="requiredField"><%= mark_required(@question, 'question') %></span>
    <div class="controls">
      <%= f.text_area :question, :class => 'text_area' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :question_type, :class => 'control-label' %><span class="requiredField"><%= mark_required(@question, 'question_type') %></span>
    <div class="controls">
      <%= f.select :type, options_for_select(select_question_type, @question.type),include_blank: true %>
    </div>
  </div>  
  <div class="control-group">
    <%= f.label :question_level, :class => 'control-label' %><span class="requiredField"><%= mark_required(@question, 'question_level') %></span>
    <div class="controls">
      <%= f.select :question_level_id, options_for_select(select_question_level, @question.question_level_id), include_blank: true %>
    </div>
  </div>    
  <div class="control-group">
    <%= f.label :categories, :class => 'control-label' %>
    <div class="controls category_options">
      <%= f.fields_for :categories_questions, @categories_questions do |c| %>
        <% category = c.object.category %>
        <%= c.hidden_field :category_id %>
        <%= c.check_box :_destroy, { :checked => category_checked?(c), :id => "#{category.name}_#{category.id}", :class => "categoryCheckBox" }, '0', '1'  %>
        <label for="<%= category.name + "_#{category.id}" %>" class="categoryLabel">
          <%= category.name %>
        </label>&nbsp;
      <% end %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :tags_field, :class => 'control-label' %>
    <div class="controls">
      <%= f.autocomplete_field :tags_field, autocomplete_tag_name_questions_path, 'data-delimiter' => ',' %>
      <span id='addTagButton' onclick='addTags()'>Add</span>
      <div id='tags'></div>
    </div>  
  </div>
  <% if !@question.new_record? %>
    <div class="control-group">
      <div id="showFlashMsg"></div>
      <div id="associatedTags"><%= render :partial => 'show_tag' %></div>
    </div>
  <% end %>  

  <div class="control-group">
    <%= f.label :options, :class => 'control-label' %>
    <div class="controls">
      <%= f.link_to_add "Add options", :options, :data => { :target => "#optionsForm" } %>
      <%= render :partial => "options", :locals => {:f => f}  %>
    </div>
  </div>
  
  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary', :onclick => "fillTagContent()" %>
  </div>  
<% end %>
<script>
// $('#question_tags_field').on('railsAutocomplete.select', function(event, data){
//   /* Do something here */
//   alert(data.item.id);
// });

</script>