<h2><%= @question.question_type.name.capitalize %>(<%= @question.question_level.name.capitalize %>) question <%= @question.id %></h2>

<div class="item_left_column">
  <table class="fk-specs-type2">
    <tbody>
      <tr><th class="group-head" colspan="2">DETAILS</th></tr>
      <tr>
        <td class="specs-key">Question Id</td>
        <td class="specs-value"><%= @question.id %></td>
      </tr>
      <tr>
        <td class="specs-key">Question</td>
        <td class="specs-value"><%= @question.question %></td>
      </tr>
    <tr>
      <td class="specs-key">Level</td>
      <td class="specs-value"><%= link_to @question.question_level.name, question_level_questions_path(@question.question_level) %></td>
    </tr>
    <tr>
      <td class="specs-key">Type</td>
      <td class="specs-value"><%= link_to @question.question_type.name, question_type_questions_path(@question.question_type) %></td>
    </tr>
    <tr>
      <td class="specs-key">categories</td>
      <td class="specs-value"><%= @question.categories.collect(&:name).join(", ") %></td>
    </tr>
    <tr>
      <td class="specs-key">Tags</td>
      <td class="specs-value"><%= @question.tags.present? ? @question.tags.collect(&:name).join(', ') : '' %></td>
    </tr>
    <tr>
      <td class="specs-key">Added By</td>
      <td class="specs-value"><%= @question.user.name %></td>
    </tr>

    </tbody>
  </table>
</div>

<div class="item_right_column">
  <% if @question.options.present? %>
    <% if @question.options.size == 1 && @question.options.first.answer? %>
      Answer: <%= @question.options.first.option %>
    <% else %>
      <table class="fk-specs-type2">
        <tbody>
          <tr>
            <th class="group-head">OPTIONS</th>
            <th class="group-head">ANSWER</th>
          </tr>
          <% @question.options.each do |option| %>
            <tr>
              <td class="specs-key"><%= option.option %></td>
              <td class="specs-value"><%= option.answer? ? true : false %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    <% end %>  
  <% else %>
    <br />
    <span class=""><strong>There are no options</strong></span>
  <% end %>
</div>
