<%= form_for @user, :html => { id: "userForm" } do |f| %>
  <%= render :partial => "shared/errors", :locals => { :obj => @user } %>  
  <%= f.label :email %><span class="requiredField"><%= mark_required(@user, 'email') %></span>
  <%= f.text_field :email, :readonly => f.object.persisted? %><br />
  <%= f.label :roles %>

  <%= f.fields_for :roles_users, @roles_users do |c| %>
    <%= c.hidden_field :role_id %>
    <%= c.check_box :_destroy, { :checked => attr_checked?(c), :id => "#{c.object.role.name}_#{c.object.role.id}" }, '0', '1'  %>
    <label for="<%= c.object.role.name + "_#{c.object.role.id}" %>">
      <%= c.object.role.name %>
    </label>&nbsp;
  <% end %><br />

  <%= f.submit %>
<% end %>