<%= form_for @user, :html => { :class => 'form-horizontal', :id => "userForm" } do |f| %>
  <%= render :partial => "shared/errors", :locals => { :obj => @user } %>  
  <div class="control-group">
    <%= f.label :email, :class => 'control-label' %><span class="requiredField"><%= mark_required(@user, 'email') %></span>
    <div class="controls">
      <div class="input-append">
        <span class="add-on"><i class="icon-envelope"></i></span>
        <%= f.text_field :email, :readonly => f.object.persisted?, :class => 'text_field', :id => "userEmailTextField", required: true, :autocomplete => 'off' %>
        <span class="add-on">@vinsol.com</i></span>
      </div>
      <span id="userEmailHintSpan"><a href="#" data-toggle="tooltip" data-placement="right" title="" data-original-title="Please enter example.test if you have vinsol account as example.test@vinsol.com", id="userEmailHintLink">?</a></span>
      <span id="emailError"></span>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :roles, :class => 'control-label', :id => "userRolesLabel" %>
    <div class="controls">
      <%= f.fields_for :roles_users, @roles_users do |c| %>
        <%= c.hidden_field :role_id %>
        <%# CR_Priyank: take c.object in a variable and then use %>
        <%= c.check_box :_destroy, { :checked => attr_checked?(c), :id => "#{c.object.role.name}_#{c.object.role.id}", :class => "userRolesCheckBox" }, '0', '1'  %>
        <label for="<%= c.object.role.name + "_#{c.object.role.id}" %>" class="userRolesvalue">
          <%= c.object.role.name %>
         </label>&nbsp;
      <% end %>
    </div>
  </div>
  
  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
  </div>
<% end %>