<h2><%=t '.title', :default => "Users" %></h2>
<div class="userFormDiv">
  <%= render :partial => "form" %>
</div>
<div>
  <table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Uid</th>
        <th><%=t '.actions', :default => t("helpers.actions") %></th>
      </tr>
    </thead>
    <tbody>
      <% @users.each do |user| %>
        <tr>
          <td><%= link_to user.name, user_path(user), :remote => true %></td>
          <td><%= link_to user.email, user_path(user), :remote => true %></td>
          <td><%= user.uid %></td>
          <td>
            <%= link_to "", user_path(user), method: :delete, data: {confirm: "Please confirm you want to delete #{user.name} ?"}, :class => "icon-remove" unless user == current_user || params[:type] %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
