<h2><%=t '.title', :default => "Question Levels" %></h2>
<div class="questionLevelFormDiv">
  <%= render :partial => "form" %>
</div >

<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th>Name</th>
      <th>Associated Questions</th>  
      <th>Actions</th>  
    </tr>
  </thead>
  <tbody>
    <% @question_levels.each do |question_level| %>
      <tr>
        <td><%= link_to question_level.name, question_level_path(question_level), :remote => true %></td>
        <td><%= question_level.questions.size %></td>
        <td>
          <%= link_to "", question_level_path(question_level), method: :delete, data: {confirm: "Please confirm you want to delete #{question_level.name} ?"}, :class => "icon-remove" %>
        </td>
      </tr>
    <% end %>
  <tbody>
</table>   